{{ 'section-main-product.css' | asset_url | stylesheet_tag }}
{%- assign section-padding-top = section.settings.section_padding_top -%}
{%- assign section-padding-bottom = section.settings.section_padding_bottom -%}

{% if section.blocks.size > 0 %}
  <div class="l-wrapper">
    {% for block in section.blocks %}
      {%- assign block-title = block.settings.block_title -%}
      {%- assign heading-type = block.settings.heading_type -%}
      {%- assign text-type = block.settings.text_type -%}
      {%- assign text-color = block.settings.text_type_color -%}
      {%- assign text-custom-font = block.settings.text_type_custom_font -%}
      {%- assign text-font-name = block.settings.text_type_custom_font_name -%}
      {%- assign text-font-default = block.settings.text_type_default_font -%}

      {% if block-title != 'blank' %}
        <{{ heading-type }}>
          {{ block-title }}
        </{{ heading-type }}>
      {% endif %}

      {% if text-type != blank %}
        <div class="test-text">
          {{ text-type }}
        </div>
      {% endif %}
    {% endfor %}
  </div>


  {% for block in section.blocks %}
    {% if block.type == 'product' and block.settings.heading_font_size == 18 %}
      {% if product.metafields.product_info.related_products %}
        {% assign relatedProducts = product.metafields.product_info.related_products.value %}

        {%- liquid 
            assign has1product = false
            for prod in relatedProducts
              if prod.available == true
                assign has1product = true
              endif
            endfor
          -%}

        {% if has1product %}
          <div class="related-products" id="related-products-{{ block.id }}">
            {% for prod in relatedProducts %}
              {% if prod.available == true %}
                <a
                  href="{{ prod.url }}"
                  class="related-product"
                  aria-label="{{ prod.title }}"
                  title="{{ prod.title }}">
                  <img
                    class="related-product__image"
                    src="{{ prod.images[0] | img_url: '200x' }}"
                    alt="{{ prod.title }}">
                  <p class="product-title">{{ prod.title }}</p>
                  <p class="price-text">{{ prod.price | money_with_currency }}</p>
                  {%- render 'buy-buttons' 
                    , block: block,
                    product: prod,
                    product_form_id: product_form_id,
                    section_id: section.id -%}
                </a>
              {% endif %}
            {% endfor %}
          </div>
        {% endif %}


      {% endif %}
    {% endif %}
  {% endfor %}

{% endif %}


<style>
  .l-wrapper {
    padding-top: {{ section-padding-top}}
    px;
    padding-bottom: {{ section-padding-bottom}}
    px;
    align-items: center;
    display: flex;
    justify-self: center;
    flex-direction: column;
  }

  {% if text-custom-font %}
    {{ text-font-default | font_face }}
  {% endif %}

  .test-text p {
    {% if text-custom-font %}
      {% if text-font-name != blank %}
        font-family: {{ text-font-name}}
        ;
      {% else %}
        font-family: {{ text-font-default.family}}
        , {{ text-font-default.fallback_families}}
        ;
      {% endif %}
    {% endif %}
    color: {{ text-color}}
    ;
  }

  a {
    text-decoration: none;
  }

  .related-product {
    display: flex;
    max-width: 300px;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }

  .related-products {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .related-products .product-form__submit.button.button--full-width.button--primary {
    color: black;
    padding: 20px;
    background-color: aquamarine;
    border-radius: 20px;
  }

  .price-text {
    font-size: 20px;
    color: orange;
    font-weight: 600;
  }

  .product-title {
    text-decoration: none;
    color: black;
    font-size: 22px;
    line-height: normal;
  }
  #related-products-{{ block.id }}{
    text-align: left;
    display: flex;
    flex-wrap: wrap;
  }
  #related-products-{{ block.id }}.related-product {
    display: inline-block;
    width: calc(25% - 0.4rem);
    margin: 0 0.4rem 0.8rem 0;
    position: relative;
    border: 1px solid transparent;
    text-align: center;
  }
  #related-products-{{ block.id }}.related-product:last-child {
    margin-right: 0;
  }
  #related-products-{{ block.id }}.related-product__image {
    width: 100%;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
  }
  #related-products-{{ block.id }}.related-product:hover {
    border-color: {{ block.settings.hover_border_color }}
    ;
  }
</style>

{% schema %}
  {
    "name": "Custom Product With Text",
    "tag": "section",
    "class": "spaced-section",
    "settings": [
      {
        "type": "header",
        "content": "Header"
      }, {
        "type": "range",
        "id": "section_padding_bottom",
        "min": 0,
        "max": 100,
        "step": 10,
        "unit": "px",
        "label": "Section Container Bottom Padding",
        "default": 0
      }, {
        "type": "range",
        "id": "section_padding_top",
        "min": 0,
        "max": 100,
        "step": 10,
        "unit": "px",
        "label": "Section Container Top Padding",
        "default": 0
      }
    ],
    "blocks": [
      {
        "type": "heading",
        "name": "Headings",
        "settings": [
          {
            "type": "header",
            "content": "HEADLINE STYLING"
          },
          {
            "type": "text",
            "id": "block_title",
            "label": "Headline",
            "default": "Please enter your text(optional)"
          },
          {
            "type": "select",
            "id": "heading_type",
            "options": [
              {
                "value": "h1",
                "label": "H1"
              },
              {
                "value": "h2",
                "label": "H2"
              },
              {
                "value": "h3",
                "label": "H3"
              },
              {
                "value": "h4",
                "label": "H4"
              }, {
                "value": "h5",
                "label": "H5"
              }, {
                "value": "h6",
                "label": "H6"
              }

            ],
            "default": "h2",
            "label": "Heading Tags",
            "info": "Use Heading Tags for better SEO."
          },
          {
            "type": "header",
            "content": "PARAGRAPH STYLING - [2]"
          }, {
            "type": "richtext",
            "id": "text_type",
            "label": "Paragraph Text - [2]"
          }, {
            "type": "color",
            "id": "text_type_color",
            "label": "Paragraph Text Color - [2]"
          }, {
            "type": "checkbox",
            "id": "text_type_custom_font",
            "label": "Use Custom Font - [2]",
            "default": false
          }, {
            "type": "font_picker",
            "id": "text_type_default_font",
            "label": "Paragraph Text Font - [2]",
            "default": "mono"
          }, {
            "type": "text",
            "id": "text_type_custom_font_name",
            "label": "Custom Font Family Name - [2]",
            "info": "Add your custom font. Example: ‘Helvetica’, ‘Sans-Serif’."
          }

        ]
      }, {
        "type": "product",
        "name": "⚡️ Related Product",
        "settings": [
          {
            "type": "range",
            "id": "products_to_show",
            "min": 2,
            "max": 25,
            "step": 1,
            "default": 4,
            "label": "Product"
          },
          {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "Related Products"
          },
          {
            "type": "number",
            "id": "heading_font_size",
            "label": "Heading font size (px)",
            "default": 18
          },
          {
            "type": "color",
            "id": "heading_color",
            "label": "Heading color",
            "default": "#121212"
          }, {
            "type": "color",
            "id": "hover_border_color",
            "label": "Border color (hover)",
            "default": "#121212",
            "info": "Make color field blank (transparent) if you don't want a border"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Custom Product With Text"
      }
    ]
  }
{% endschema %}