{% assign sectionID = 'shopify-section-' | append: section.id -%}
{%- assign section-padding-top = section.settings.section_padding_top -%}
{%- assign section-padding-bottom = section.settings.section_padding_bottom -%}

{% if section.blocks.size > 0 %}
  <div class="l-wrapper" style="padding-top: {{section-padding-top}}px; padding-bottom:{{section-padding-bottom}}px;">
    {% for block in section.blocks %}
      {%- assign block-title = block.settings.block_title -%}
      {%- assign heading-type = block.settings.heading_type -%}
      {%- assign text-type = block.settings.text_type -%}
      {%- assign text-color = block.settings.text_type_color -%}
      {%- assign text-custom-font = block.settings.text_type_custom_font -%}
      {%- assign text-font-name = block.settings.text_type_custom_font_name -%}
      {%- assign text-font-default = block.settings.text_type_default_font -%}

      {% if block-title != 'blank' %}
        <{{ heading-type }}>
          {{ block-title }}
        </{{ heading-type }}>
      {% endif %}

      {% if text-type != blank %}
        <div class="test-text">
          {{ text-type }}
        </div>
      {% endif %}
    {% endfor %}


    <div class="media-container">
      {% for block in section.blocks %}
        {% assign image-picker = block.settings.image_picker_setting %}
        {% assign video-picker = block.settings.video_picker_setting %}

        {% if image-picker != blank %}
          <img src="{{ image-picker | img_url: '600x600' }}" alt="Selected Image">
        {% endif %}


        {%- if video-picker.type == "youtube" -%}
          <iframe
            id="videoProperties"
            width="500px"
            height="300px"
            src="//www.youtube.com/embed/{{ video-picker.id }}?rel=0&showinfo=0&vq=720"
            frameborder="0"
            allowfullscreen></iframe>
        {%- endif -%}
        {%- if video-picker.type == "vimeo" -%}
          <iframe
            id="videoProperties"
            width="500px"
            height="300px"
            src="//player.vimeo.com/video/{{ video-picker.id }}?color={{ settings.color_button | remove: "#" }}&byline=0&portrait=0&badge=0"
            frameborder="0"
            allowfullscreen></iframe>
        {%- endif -%}


      {% endfor %}
    </div>
  {% endif %}

</div>
<style>
 #{{sectionID}} .l-wrapper {
    align-items: center;
    display: flex;
    justify-self: center;
    flex-direction: column;
  }

  {% if text-custom-font %}
    {{ text-font-default | font_face }}
  {% endif %}

 #{{sectionID}} .test-text p {
    {% if text-custom-font %}
      {% if text-font-name != blank %}
        font-family: {{ text-font-name}}
        ;
      {% else %}
        font-family: {{ text-font-default.family}}
        , {{ text-font-default.fallback_families}}
        ;
      {% endif %}
    {% endif %}
    color: {{ text-color}}
    ;
  }

 #{{sectionID}} a {
    text-decoration: none;
  }
 #{{sectionID}} .media-container {
    display: flex;
    justify-content: center;
  }
</style>

{% schema %}
  {
    "name": "Custom Media With Text",
    "tag": "section",
    "class": "spaced-section",
    "settings": [
      {
        "type": "header",
        "content": "Header"
      }, {
        "type": "range",
        "id": "section_padding_bottom",
        "min": 0,
        "max": 100,
        "step": 10,
        "unit": "px",
        "label": "Section Container Bottom Padding",
        "default": 0
      }, {
        "type": "range",
        "id": "section_padding_top",
        "min": 0,
        "max": 100,
        "step": 10,
        "unit": "px",
        "label": "Section Container Top Padding",
        "default": 0
      }
    ],
    "blocks": [
      {
        "type": "heading",
        "name": "Headings",
        "settings": [
          {
            "type": "header",
            "content": "HEADLINE STYLING"
          },
          {
            "type": "text",
            "id": "block_title",
            "label": "Headline",
            "default": "Please enter your text(optional)"
          },
          {
            "type": "select",
            "id": "heading_type",
            "options": [
              {
                "value": "h1",
                "label": "H1"
              },
              {
                "value": "h2",
                "label": "H2"
              },
              {
                "value": "h3",
                "label": "H3"
              },
              {
                "value": "h4",
                "label": "H4"
              }, {
                "value": "h5",
                "label": "H5"
              }, {
                "value": "h6",
                "label": "H6"
              }

            ],
            "default": "h2",
            "label": "Heading Tags",
            "info": "Use Heading Tags for better SEO."
          },
          {
            "type": "header",
            "content": "PARAGRAPH STYLING - [2]"
          }, {
            "type": "richtext",
            "id": "text_type",
            "label": "Paragraph Text - [2]"
          }, {
            "type": "color",
            "id": "text_type_color",
            "label": "Paragraph Text Color - [2]"
          }, {
            "type": "checkbox",
            "id": "text_type_custom_font",
            "label": "Use Custom Font - [2]",
            "default": false
          }, {
            "type": "font_picker",
            "id": "text_type_default_font",
            "label": "Paragraph Text Font - [2]",
            "default": "mono"
          }, {
            "type": "text",
            "id": "text_type_custom_font_name",
            "label": "Custom Font Family Name - [2]",
            "info": "Add your custom font. Example: ‘Helvetica’, ‘Sans-Serif’."
          }

        ]
      }, {
        "type": "media",
        "name": "Media",
        "settings": [
          {
            "type": "image_picker",
            "id": "image_picker_setting",
            "label": "Image Picker Setting",
            "info": "Choose an image for this section."
          }, {
            "type": "video_url",
            "id": "video_picker_setting",
            "label": "Video Picker Setting",
            "accept": [
              "youtube", "vimeo"
            ],
            "info": "Choose a video for this section."
          }

        ]
      }
    ],
    "presets": [
      {
        "name": "Custom Media With Text"
      }
    ]
  }
{% endschema %}